h1 {
  font-size: 100px;
}
h3 {
  font-size: 55px;
  text-align: center;
}

h5 {
  font-size: 25px;
}

.dog {
  width: 800px;
  height: auto;
}

p,
li {
  font-size: 25px;
}

* {
  background-color: lightblue;
}
